@page "{id}"
@model EditModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@latest/css/pico.min.css"/>

<main class="container">

    <h1>Edit Collage</h1>

    <h2>Collage Title Is @Model.Collage.Title</h2>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <div class="container">
        <div class="card">
            <form>
                <div class="form-group col1-2">
                    <label for="">Title</label>
                    <input class="form-control" placeholder="Title" value="@Model.Collage.Title" />
                </div>
                <div class="form-group col1-2">
                    <label for="">Note</label>
                    <textarea class="form-control" placeholder="Note" value="@Model.Collage.Note"></textarea>
                </div>
                <div class="form-group col1-2">
                    <label for="">Note</label>
                    <textarea class="form-control" placeholder="Data" value="@Model.Collage.Data"></textarea>
                </div>
                <div class="toolbar">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="collages" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>

</main>


<style>

    .col1-2 {
        grid-column: 1 / 3;
    }

    h1, h2 {
        text-align: center;
    }

    form {
        padding: 10px;
        margin: 10px;
    }

    form > input,
    form textarea {
        color: green;
        border-style: solid;
        resize: none;
        padding: 0.5rem;
    }

    form > p {
        overflow: hidden;
        overflow-y: auto;
        max-height: 50vh;
    }
</style>

<script src="/_framework/aspnetcore-browser-refresh.js"></script>