@page
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Collage Summary Page</h1>

<a asp-page="./Create">Create New</a>

@if (Model.Collages != null)
{
    <p>@Model.Collages.Count() Collages found</p>

    foreach (var collage in Model.Collages)
    {
        <div class="card">
            <h2><a asp-page="./Edit" asp-route-id="@collage.Id">@collage.Title</a></h2>
            <textarea>@collage.Note</textarea>
        </div>
    }
}

<style>
    .card {
        display: grid;
        grid-template-columns: 1fr;
        padding: 10px;
        margin: 10px;
    }

    .card > textarea {
        height: 100px;
        resize: none;
        color: green;
    }
</style>

<script src="/_framework/aspnetcore-browser-refresh.js"></script>