@page
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<title>Collage Summary Page</title>
<link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@latest/css/pico.min.css" />

<style>
    h1 {
        text-align: center;
    }

    .main {
        margin: 2rem;
        padding: 2rem;
    }

    .card {
        margin: var(--block-spacing-vertical) 0;
        padding: var(--block-spacing-vertical) var(--block-spacing-horizontal);
        padding-bottom: 0;
        background-color: var(--card-background-color);
        border-radius: var(--border-radius);
        border: 1px solid;
        border-color: var(--muted-border-color);
    }

    .note {
        height: 6rem;
        width: 100%;
        overflow: auto;
        border: 1px solid;
        border-color: var(--muted-border-color);
        padding: 0.1rem;
    }

    .grid-auto {
        display: grid;
        grid-template-columns: repeat(auto-fit, 20rem);
        column-gap: 1rem;
    }

    .toolbar {
        display: flex;
        flex-direction: row-reverse;
        gap: 1rem;
        padding: 1rem;
    }

    .align-items-right {
        display: grid;
        /* align the items to the left edge */
        justify-items: end;
    }
</style>

<div class="main">
    <h1>Collage Summary Page</h1>

    <div class="grid-auto">
        <div class="card">
            <h6><a class="primary" asp-page="./Create">Create New Collage</a></h6>
            <p>@Model.Collages.Count() items found</p>
        </div>
        @if (Model.Collages != null)
        {
        foreach (var collage in Model.Collages)
        {
        <div class="card">
            <h6><a asp-page="./Edit" asp-route-id="@collage.Id">@collage.Title</a></h6>
            <p class="note">@collage.Note</p>
        </div>
        }
        }
    </div>
</div>

<script src="/_framework/aspnetcore-browser-refresh.js"></script>